---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";

export const getStaticPaths = (async () => {
  const blogposts = await getCollection("blogposts");
  return blogposts.map((entry) => {
    return {
      params: {
        slug: entry.slug,
      },
      props: { entry },
    };
  });
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <h2>{entry.data.title}</h2>
  <Prose><Content /></Prose>
</Layout>
