---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = (async () => {
    const nonsense = await getCollection("nonsense");
    return nonsense.map((entry) => {
        return {
            params: {
                slug: entry.slug,
            },
            props: { entry },
        };
    });
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
    <h2>{entry.data.title}</h2>
    <Content />
</Layout>
