<div class="prose"><slot /></div>

<style>
  .prose :global(p) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    line-height: 1.75;
  }

  .prose :global(p:has(img)) {
    text-align: center;
  }
</style>
