@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text-color: #161717;
        --text-subtle: #898989;

        --pink: #f72585ff;
        --purple-1: #b5179eff;
        --purple-2: #7209b7ff;
        --purple-3: #560badff;
        --purple-4: #480ca8ff;
        --blue-5: #3a0ca3ff;
        --blue-4: #3f37c9ff;
        --blue-3: #4361eeff;
        --blue-2: #4895efff;
        --blue-1: #4cc9f0ff;
    }
    body {
      font-family: "Mukta", sans-serif;
      color: var(--text-color) !important;
      text-shadow: none !important;
      background: white;
    }
    a {
      color: var(--blue-4);
      text-decoration: none;
    }
    a:hover {
        background-image: linear-gradient(270deg, var(--purple-2), var(--pink));
        background-clip: text;
        animation: GradientAnimation 2s ease infinite;
      text-decoration: underline;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;

    }
    b, strong{
        font-weight: 600;
    }
    em {
      font-style: italic;
    }
    * {
      line-height: 1.5;
    }
    p {
     color: var(--text-color);
    }

    /*
     *
     *
     * Markdown
     *
     *
     *
     */
    .markdown {
        line-height: 1.85;
        font-size: 1.2rem;
    }
    .markdown img {
        margin: 44px auto;
        max-width: 50%;
    }
    .markdown h1 {
        font-size: 3.2rem;
    }
    .markdown h2 {
        font-size: 2.4rem;
    }
    .markdown h3 {
        font-size: 1.17rem;
    }
    .markdown h4 {
        font-size: 1rem;
    }
    .markdown h1,h2,h3 {
        margin: 1rem 0;
        line-height: 1.3;
    }
    .markdown p {
        margin: 2rem auto;
    }
    .markdown pre {
        background-color: #F5F5F5;
        padding: 1rem;
        width: 80%;
        margin: 0 auto;
        border-radius: 5px;
        line-height: 1.2;
    }
    .markdown ol {
        width: 80%;
        margin: 0 auto;
       list-style-type: decimal;
       list-style-position: inside;
    }
    .markdown ol li {
        padding: 16px 0;
    }
    .markdown ul {
       width: 80%;
       margin: 0 auto;
       list-style-type: disc;
       list-style-position: inside;

    }
}

#dragItem, #dragItemClone {
    cursor: pointer;
}
